{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="min-vh-100">
    <h1 class="text-primary mb-5 text-center">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h1 class="text-primary">
        <h3 class="text-primary mb-5 text-center font-weight-bold">Vous pouvez à présent avoir accès aux différentes fonctionnalités !</h3>
                        <section class="wow fadeIn animated container-fluid">
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-lg-4 col-md-6">
                                    <!--Panel-->
                                    <a href="#" class="custom-card">
                                        <div class="card purple-gradient text-center z-depth-2" style="width: 15rem; display: inline-block">
                                            <div class="card-body">
                                                <h5 class="card-title text-uppercase font-weight-bold white-text mt-2 mb-3"><strong class=" text-uppercase">Abonnements</strong><i class="fas fa-heart ml-3"></i></h5>
                                                <p class="card-text-center white-text mb-0">Nous vous proposons plusieurs services d'abonnement</p>
                                                <p class="card-text-center white-text mb-0">Cliquez ici pour les découvrir</p>
                                            </div>
                                        </div>
                                    </a>
                                    <!--/.Panel-->
                                </div>
                                <!-- Grid column -->
                
                                <!-- Grid column -->
                                <div class="col-lg-4 col-md-6">
                                    <!-- Panel -->
                                    <a href="#" class="custom-card">
                                        <div class="card blue-gradient text-center z-depth-2" style="width: 15rem; display: inline-block">
                                            <div class="card-body">
                                                <h5 class="card-title text-uppercase font-weight-bold white-text mt-2 mb-3"><strong class="text-uppercase">Trouver un relais</strong><i class="fas fa-map ml-3"></i></h5>
                                                <p class="card-text-center white-text mb-0">N'attendez plus, trouvez le relais colis le plus près de chez vous.</p>
                                                <p class="card-text-center white-text mb-0">Cliquez ici pour voir la carte</p>
                                            </div>
                                        </div>
                                    </a>
                                    <!--/.Panel-->
                                </div>
                                <!-- Grid column -->
                
                                <!-- Grid column -->
                                <div class="col-lg-4 col-md-6">
                                    <!-- Panel -->
                                    <a href="#" class="custom-card">
                                        <div class="card purple-gradient text-center z-depth-2" style="width: 15rem; display: inline-block">
                                            <div class="card-body">
                                                <h5 class="card-title text-uppercase font-weight-bold white-text mt-2 mb-3"><strong class="text-uppercase">Se faire livrer</strong><i class="fas fa-cube ml-3"></i></h5>
                                                <p class="card-text-center white-text mb-0">Vous voulez passer une commande et vous faire livrer dans un relais colis ?</p>
                                                <p class="card-text-center white-text mb-0">Cliquez ici</p>
                                            </div>
                                        </div>
                                    </a>
                                    <!--/.Panel-->
                                </div>
                                <!-- Grid column -->
                
                            </div>
                        </section>

        
</div>
{% endblock fos_user_content %}
