{% extends 'nav_bar.html.twig' %}

{% block title %}R.C.I Colis{% endblock %}

{% block body %}
    <main id="histo" class="container mb-5 pb-5">
                <h1>Les Conditions générales de ventes et utilisations</h1>

                <h2>RELAIS COLIS INDÉPENDANT R.C.I COLIS</h2>
                <p>Réception de colis ou courriers pour le compte de particuliers domiciliés sur le territoire Suisse ou Français.</p>
                <p>Ce service implique une commission indiquée dans les CGVU</p>

                <h3>CONDITIONS GÉNÉRALES</h3>

                <h4>I) Formulaire pour le déposant :</h4>

                <h5> Article 1 : Préambule</h5>
                <p>
                    Les présentes conditions générales de vente et d’utilisation (ci-après désignées CGVU) régissent l’activité du Relais Colis Indépendant (RCI),
                    de EURL Comète ainsi que l’utilisation des locaux associés.
                </p>
                <p>
                    EURL Comète,  dont le siège social est situé 4 rue Proudhon, 25300 Pontarlier, est enregistrée sous le siren 518799424 RCS au registre du commerce et des sociétés de Besançon. 
                </p>
                <p>Chaque utilisateur de Relais Colis RCI, confirme avoir lu et accepté les présentes CGVU. </p>
                <p>Il est aussi conseillé à l’utilisateur d’imprimer les présentes conditions.</p>

                <h5>Article 2 : Objet et application des conditions</h5>
                <h6>2-1 : Applications générales :</h6>
                <p>
                    Les CGVU sont conclues entre, d’une part la société EURL Comète et d’autre part toute personne physique ou morale (ci-après dénommée l’utilisateur) souhaitant bénéficier des prestations et produits (prestations de réception de courriers et colis ou réexpéditions) proposées par le service RCI Colis.
                </p>
                <p>
                    Le seul fait d’utiliser les services de réception de colis ou de s’inscrire aux services RCI Colis implique l’acceptation sans réserve des présentes conditions. Ces conditions générales de vente et d’utilisation prévaudront sur toutes autres conditions générales ou particulières non expressément agréées par la société Comète.
                </p>
                <p>
                    Les présentes CGVU peuvent être modifiées à tout moment et sans préavis, en ligne. Ce qui implique avant de passer une commande, d’aller sur le site et de cliquer sur acceptation des CGVU.
                </p>
                <p>Les modifications sont alors applicables à tous les services et toutes les utilisations.</p>

                <h6>2-2 : Date d’applications générales :</h6>
                <p>La version des CGVU présente, prend effet, dès la mise en ligne du site Internet</p>

                <h6>2-2 : Information douanes :</h6>
                <a title="Cliquer pour en savoir plus" href="https://www.ezv.admin.ch/ezv/fr/home/infos-pour-particuliers/voyages-et-achats--franchises-quantitatives-et-franchise-valeur/importation-en-suisse.html" target="_blank">cliquez sur ce lien pour en savoir plus</a>

                <h5>Article 3 : Les prestations de RCI</h5>
                <h6>3-1 : Prestations générales</h6>
                <p>RCI Colis propose des services de réception et délivrance de courriers ou colis, depuis l’un des points relais RCI Colis proposés sur le site.</p>
                <p>La souscription à un contrat RCI Colis donne le droit d’utiliser les services de courrier ou de réception de colis.</p>
                <p>EURL Comète, à travers son service RCI Colis, s’engage à fournir les prestations de services notées ci-dessous en fonction des abonnements souscrits :</p>
                <ul>
                    <li>Réception des courriers et colis (ci-après dénommés articles) destinés à l’utilisateur lorsqu’ils lui sont adressés à l’adresse figurant aux conditions particulières.</li>
                </ul>
                <p>Seul le personnel de la société Comète et les prestataire relais colis RCI ont accès aux articles classés et archivés.</p>

                <h6>3-2 : Recommandés et contre-remboursements</h6>
                <p>
                    EURL Comète n’est pas habilitée de façon générale à recevoir des recommandés au nom et pour le compte de l’utilisateur et se contente, en cas de présentation de recommandés avec avis de réception, de mandats ou d’envois contre remboursement, de notifier l’avis de passage (frais en sus).
                </p>
                <p>
                    En principe, l’utilisateur est avisé de la traçabilité de son colis par son fournisseur, mais lorsqu’un colis reste dans un relais plus de 7 jours, nous avisons par mail de sa réception.
                </p>

                <h5>Article 4 : Confidentialité </h5>
                <h6>4-1 : Données personnelles</h6>
                <p>EURL Comète garantit la plus grande confidentialité.</p>
                <p>
                    Les informations personnelles de l’utilisateur et mises à disposition de EURL Comète (dont les coordonnées et courriers) ne sont communiquées à aucun organisme public ou privé ni à aucun particulier.
                </p>
                <p>
                    Cependant  EURL Comète est autorisé à les conserver en mémoire informatique et à les communiquer aux personnes morales de son groupe, à ses assureurs, à un tribunal ou toute autorité administrative compétente, voire à des tiers ou des sous-traitants pour des besoins de gestion (comptable).
                </p>
                <p>
                    EURL Comète décline toute responsabilité en cas de violation de confidentialité consécutive à une défaillance technique liée à un cas de force majeure indépendant de sa volonté.
                </p>
                <p>
                    Par contre, l’utilisateur doit fournir à tout moment des coordonnées valides et s’assurer qu’elles sont à jour.<br>
                    EURL Comète doit  pouvoir contacter l’utilisateur régulièrement à toutes fins utiles.
                </p>
                <p>
                    Les données personnelles communiquées lors de l’inscription, resteront dans la base de donnée de EURL Comète  durant une période de 3 ans après la dernière utilisation de service, sauf sur demande express, par recommandé de la part du client, de les supprimer définitivement.
                </p>

                <h5>Article 5 : Contrat</h5>
                <h6>5-1 : Signature du contrat</h6>
                <p>
                    En application de l’article 1124 du Code Civil, l’utilisateur déclare avoir la capacité de contracter aux conditions décrites ci-après, c’est-à-dire être mineur émancipé ou avoir la majorité légale et ne pas être protégé au sens de l’article 488 du Code Civil.
                </p>
                <p>L’utilisateur garantit la véracité et l’exactitude des informations fournies aux différents services de EURL Comète.</p>
                <p>
                    L’utilisateur déclare faire son affaire de toute déclaration auprès des services compétents Suisses en cas de nécessité et du paiement des taxes supplémentaires de douane ou de TVA Européennes ou internationales, avant réception des colis.
                </p>
                <p>L’utilisateur déclare avoir pris connaissance et accepter les présentes CGVU lors de son inscription.</p>
                <p>A défaut d’une telle acceptation, l’utilisateur ne pourra prétendre recourir aux prestations de RCI Colis.</p>
                <p>Pour pouvoir bénéficier des prestations proposées par le service RCI Colis, l’utilisateur doit accepter en ligne les présentes CGVU.</p>

                <h6>5-2 : Tarification et paiement des services</h6>
                <p>Ce contrat est là pour formaliser les conditions de fonctionnement, mais l’inscription reste totalement gratuite.</p>

                <h6>5-2 A: Contrat simple, de réception de courrier ou colis à l’unité</h6>
                <p>Tarifs réglementaires : </p>
                <p>Commission par colis réceptionné de : </p>

                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Tranche de poids</th>
                            <th>Poids C</th>
                            <th>Poids standard</th>
                            <th>Dim C</th>
                            <th>Dim maxi</th>
                            <th>Tranche de dimensions</th>
                            <th>Calcul prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>De 0 ≤ 20 g</td>
                            <td></td>
                            <td>20</td>
                            <td></td>
                            <td></td>
                            <td>Courriers / revues </td>
                            <td>2,00 €</td>
                        </tr>
                        <tr>
                            <td>De 20 g ≤ 100 g</td>
                            <td></td>
                            <td>100</td>
                            <td></td>
                            <td></td>
                            <td>Courrier ou très petits colis </td>
                            <td>3,00 €</td>
                        </tr>
                        <tr>
                            <td>101 g > X ≤ 300 g</td>
                            <td></td>
                            <td>300</td>
                            <td></td>
                            <td></td>
                            <td>L+L+H ≤ 150 cm</td>
                            <td>4,00 €</td>
                        </tr>
                        <tr>
                            <td>301 g > X ≤ 10 kg</td>
                            <td></td>
                            <td>1000</td>
                            <td></td>
                            <td>150</td>
                            <td>L+L+H  ≤  150 cm</td>
                            <td>5,00 €</td>
                        </tr>
                        <tr>
                            <td>10 kg > X ≤ 15 kg</td>
                            <td></td>
                            <td>1500</td>
                            <td></td>
                            <td>150</td>
                            <td>L+L+H  ≤  150 cm</td>
                            <td>6,00 €</td>
                        </tr>
                        <tr>
                            <td>10 kg > X ≤ 15 kg</td>
                            <td></td>
                            <td>1500</td>
                            <td></td>
                            <td>150</td>
                            <td>L+L+H  ≤  150 cm</td>
                            <td>6,00 €</td>
                        </tr>
                        <tr>
                            <td>Si X > 15 Kg ≤ 150 cm</td>
                            <td>2500</td>
                            <td>1500</td>
                            <td></td>
                            <td>150</td>
                            <td> ex : 25 kg </td>
                            <td> 10,00 € </td>
                        </tr>
                        <tr>
                            <td>Si X ≤10 Kg > 150 cm</td>
                            <td></td>
                            <td>1500</td>
                            <td>200</td>
                            <td>150</td>
                            <td>ex : 200 cm</td>
                            <td>6,67 €</td>
                        </tr>
                        <tr>
                            <td>Si X > 10 Kg ≤ 15 kg > 150 cm</td>
                            <td></td>
                            <td>1500</td>
                            <td>200</td>
                            <td>150</td>
                            <td>ex : 200 cm</td>
                            <td>8,00 €</td>
                        </tr>
                        <tr>
                            <td>Si X > 15 kg > 150 cm</td>
                            <td>2000</td>
                            <td>1500</td>
                            <td>250</td>
                            <td>150</td>
                            <td>ex : 20 kg et 250 cm</td>
                            <td>13,33 €</td>
                        </tr>
                    </tbody>
                </table>
                
                <p>
                    Adhésion aux services de réception de colis ou courriers, avec garde et maintien à disposition durant 30 jours à compter de la réception, sauf pour les colis dépassant les côtes maximums (+de 30%), qui ne pourront être gardés que 15 jours, pour les colis plus volumineux, prendre contact impérativement avant commande pour accord de réception de la part du point relais choisi et venir réceptionner le colis le jour de la livraison.
                </p>
                <p>Possibilité d’être informé par sms moyennant le coût d’un sms + service facturé 3.00€</p>
                <p>Enveloppe fine de moins de 20 g et moins de 0.5 cm d’épaisseur : 2.00 € TTC</p>
                <p>Commission majorée au prorata des dépassements pour tout autre colis.</p>
                <p>Il n’y a pas d’avance à faire, les prestations se règlent à la réception des colis.</p>
                <p>Aucun colis ne sera délivré sans paiement de la prestation.</p>
                <p>
                    Tout envoi dans emballage autre que enveloppe est considéré comme un colis, ainsi que tout article emballé dans une enveloppe, dont le poids est supérieur à 500 g : 5.00€ TTC
                </p>
                <p>
                    Tous colis livrés sur palettes, seront comptabilisés individuellement, les palettes devant être déchargées par le transporteur et il est préférable de s’assurer que le transporteur reprendra sa palette.
                </p>
                <p>Ce sont ces tarifs qui sont applicables le jour de la commande ou de la reconduction de contrat.</p>
                <p>Les services de réception de colis ou courriers, sont toujours payés lors de la délivrance au prorata du nombre d’articles.</p>
                <p>
                    5-2 B : Contrat en nombre, de réception de courrier ou colis : Les conditions de réception sont les mêmes que le contrat A mais le client peut opter pour une formule promotionnelle de 15.00€ TTC de 3 à 5 colis standards par mois, en cas de colis non standard, juste les dépassement seront facturés en plus du forfait. 
                </p>
                <p>
                    5-2 C : Contrat en nombre, de réception de courrier ou colis : Les conditions de réception sont les mêmes que le contrat A mais le client peut opter pour une formule promotionnelle de 25.00€ TTC de 6 à 8 colis standards par mois, en cas de colis non standard, juste les dépassement seront facturés en plus du forfait. 
                </p>
                <p>
                    5-2 D : Contrat en nombre, de réception de courrier ou colis : Les conditions de réception sont les mêmes que le contrat A mais le client peut opter pour une formule promotionnelle de 35.00€ TTC de 9 à 10 colis standards par mois, en cas de colis non standard, juste les dépassement seront facturés en plus du forfait.
                </p>
                <p>5-2 B : Contrat en nombre, de réception de courrier ou colis : Au-delà de 10 colis par mois, nous demander un devis.</p>
                <p>
                    La souscription d’un contrat en nombre, est valable par mois civil (du 1er au 30 ou 31) et implique le paiement de l’abonnement en début de mois ou à la réception du premier colis, par tout moyen de paiement.
                </p>

                <h6>5-3 : Pénalités de retard de paiement</h6>
                <p>
                    Conformément à la loi, les pénalités de retard de paiement et une indemnité forfaitaire de recouvrement de 40 € TTC sont dues de plein droit le jour qui suit la date de règlement maximum mentionnée sur la facture. Le taux annuel des pénalités de retard est égal à 12%.
                </p>

                <h6>5-4 : Durée du Contrat</h6>
                <p>La durée du contrat de Gestion de Courrier est fixée à un an renouvelable</p>
                <p>
                    A défaut de résiliation, d’avis de l’utilisateur ou d’avis contraire stipulé dans les clauses particulières, le contrat se renouvelle ensuite par tacite reconduction au tarif en vigueur au moment de la reconduction pour une période annuelle.
                </p>
                <p>
                    En particulier, lorsque l’utilisateur continue à recevoir des articles à l’adresse du relais colis RCI et que le client n’a pas confirmé sa résiliation ou n’a pas suspendu son contrat de réexpédition avec La Poste, le contrat est reconduit automatiquement.
                </p>

                <h6>5-5 : Résiliation du contrat</h6>
                <p>
                    Le contrat peut être résilié par chacune des deux parties. L’utilisateur peut demander la résiliation à tout moment par courriel ou par courrier postal. La résiliation prend effet à la fin du mois d’abonnement en cours.
                </p>
                <p>
                    EURL Comète se réserve le droit de résilier ou de suspendre un contrat sans autre formalité, et sans droits à indemnisation ni remboursement, dans les cas suivants:
                </p>
                <ul>
                    <li>violation des présentes CGVU</li>
                    <li>fausses informations données par l’utilisateur à EURL Comète sur sa situation</li>
                    <li>entrave à la bonne marche de EURL Comète ou atteinte à sa réputation</li>
                    <li>suspicion d’escroquerie ou opérations douteuses et non clarifiées</li>
                    <li>incident ou retard de paiement</li>
                    <li>utilisateur qui ne répond ni par courriel ni par téléphone pendant plus de 3 mois</li>
                    <li>utilisation des services dans un contexte contraire à la loi Française ou Européenne</li>
                </ul>

                <h6>5-6 : Conditions en fin de contrat</h6>
                <p>
                    A la date de résiliation de contrat, la garde et réception des articles ne sont plus prises en charge. Il appartient à l’utilisateur de faire réexpédier ses articles à une adresse donnée et de s’assurer que son compte est provisionné pour les dernières expéditions.
                </p>
                <p>
                    Le solde de provision peut être restitué à l’utilisateur au plus tard 60 jours après la date de résiliation du contrat déduction faite des frais de résiliation.
                </p>
                <p>
                    Si 30 jours après la date de résiliation du contrat, l’utilisateur n’a pas suffisamment crédité son compte pour les dernières expéditions ou n’a donné aucune réponse, EURL Comète se réserve le droit de clôturer définitivement le compte du client, de détruire les articles en sa possession et d’appliquer les frais de pénalités de retard et de recouvrement.
                </p>

                <h5>Article 6 : Responsabilité</h5>
                <p>Être utilisateur du service RCI COLIS implique une responsabilité.</p>
                <p>
                    L’utilisateur s’engage à ne pas utiliser les services pour des activités contraires à la Loi Française et Européenne (substances illicites …) et à s’occuper personnellement de toute déclaration utile, avant que le colis ne soit réceptionné en RCI Colis ou après prise de possession de celui-ci (douanes).
                </p>
                <p>
                    Les produits frais, nécessitants d’être conservés dans des conditions de température particulière, ne peuvent être réceptionnés par le relais, qui ne dispose pas de pièce froide ou de réfrigérateurs adéquats.
                </p>
                <p>
                    De plus, la souscription et l’utilisation des services RCI Colis, ne doit pas être une entrave à la bonne marche et réputation de la boutique prestataire RCI COLIS.
                </p>
                <p>
                    Tout impact préjudiciable (appels téléphoniques entrants pour plaintes de l’utilisateur, agressivité auprès des salariés, réclamations de fournisseurs suite à des défauts de paiement, etc) justifiera une pénalité et sera facturé à l’utilisateur même en cas de résiliation dû aux événements par un appel de 3 mois de d’abonnement (contrat n°2) sans prestations.
                </p>
                <p>
                    Les prestations de RCI COLIS, permettent à l’utilisateur en tant que particulier, d’obtenir une adresse de correspondance où il peut recevoir son courrier ou ses colis. L’adresse de EURL Comète, ou l’adresse du relais RCI COLIS, n’est en aucun cas un domicile d’habitation pour l’utilisateur et au sens fiscal.
                </p>
                <p>
                    EURL Comète, ne peut en aucun cas être tenu pour responsable de l’état des articles reçus, même s’ils sont extérieurement endommagés.
                    L’utilisateur décharge EURL Comète de toute responsabilité lorsque celui-ci fait appel à un sous-traitant. C’est le cas lorsqu’il y a réexpédition, celle-ci étant effectuée par un prestataire logistique. L’utilisateur s’engage de manière irrévocable à ne jamais se retourner en responsabilité tant civile que pénale contre l’EURL Comète ou le prestataire RCI COLIS au titre de faits relatifs à cette réexpédition. L’utilisateur décharge EURL Comète de la responsabilité des réseaux de distribution.<br>
                    Lorsque des problèmes surviennent du fait du transporteur choisi par un fournisseur, ni EURL Comète, ni le relais RCI COLIS ne peuvent en être tenus responsables, il est de la responsabilité du client de déposer une réclamation auprès de son fournisseur.
                </p>
                <p>
                    Par ailleurs, l’utilisateur reconnaît que les applications informatiques utilisées par EURL Comète relèvent d’un domaine techniquement complexe et que par conséquent, l’utilisateur accepte que les prestations puissent subir de manière raisonnable quelques défaillances ou dysfonctionnements.<br>
                    EURL Comète et les prestataires RCI Colis travaillant en son nom, sont dégagés de toute responsabilité quant au contenu des colis qui doivent répondre aux règles Françaises et Européennes, ainsi qu’à l’utilisation faîte du colis après délivrance.
                    De plus, si un colis est réceptionné abîmé ou ouvert, EURL Comète s’engage à mettre une réserve sur le bon de livraison et ne peut en aucun cas être tenue responsable des dégradations signalées.<br>
                    Pour le cas d’un colis délivré dans un emballage propre et dont le contenu serait endommagé, la responsabilité n’incombe pas à RCI, mais au transporteur, c’est pourquoi il est important de se renseigner sur les délais impartis pour déposer une réclamation et venir chercher un colis suffisamment tôt, pour rester dans ces délais.
                </p>

                <h5>Article 7 : Dimensions et délais </h5>
                <ul>
                    <li>Dimensions des colis acceptés :</li>
                </ul>
                <p>
                    Un colis standard est un colis dont les dimensions additionnées (L+L+H) ne dépassent pas 150 cm et dont le poids maximum est de 15 kg.
                    En cas de dépassement, le tarif appliqué est au prorata (voir tableau tarifs)
                </p>
                <p>
                    Il est toujours possible de se faire livrer un colis dépassant les dimensions de base. Si le dépassement est de + de 30%, il est impératif de prévenir la boutique et le réceptionner rapidement. En tout état de cause, le tarif s’applique par période de 15 jours dans ce cas.
                </p>
                <p>
                    Pour les colis plus volumineux, demander si la réception sera envisageable, ainsi qu’un devis.
                </p>
                <ul>
                    <li>Délai de garde</li>
                </ul>
                <p>
                    Il est possible de prolonger pour une période supplémentaire, le délai de garde de 1 mois d’un colis. Il suffit de téléphoner au relais RCI Colis pour prévenir et dans ce cas, le tarif de garde sera doublé.
                </p>
                <ul>
                    <li>Intitulé à utiliser lors de la commande :</li>
                </ul>
                <p>
                    Dans société : RCI + nom du relais choisi
                </p>
                <p>

                </p>
                <p>
                    Nom  prénom : Vos nom et prénom
                </p>
                <p>
                    Adresse : Celle du relais RCI Colis choisi
                </p>
                <a href="#" title="exemple a suivre lors d'une commande pour le fomulaire de livraison">Exemple à suivre lors d’une commande pour le formulaire de livraison – RCI</a>
    </main>
{% endblock %}