{% extends 'base_front.html.twig' %}

{% block title %}R.C.I Colis{% endblock %}

{% block body %}
    <main>
        <h1>Historique</h1>
        <p> 
            Début 2010, nous avons ouvert notre boutique Comète, spécialisée dans la vente de bijoux en acier inoxydable, hypoallergénique et la maroquinerie.
            Fin avril 2017, suite à la demande grandissante de notre clientèle Suisse, nous avons décidez de créer un relais colis indépendant, certains sites Internet ne souhaitant pas livrer sur le territoire Suisse, du fait de formalités administratives trop lourdes et de frais de transport importants.
        </p>

        <p>
            La différence avec les relais colis traditionnels, c’est que nous ne sommes liés avec aucun transporteur, donc nous acceptons les colis de toutes provenances.
        </p>

        <p>
            Ce nouveau système de relais colis, vous permet entre autre, d’être livré, en votre absence, alors qu’aucun lieu de livraison ne vous est proposé.
            Il s’adresse autant à un résident sur le sol français (longues absences…), qu’à un résident suisse.
        </p>

        <p>
            Nous réceptionnons même les colis de poids et dimensions hors normes (dans certaines limites), pour cela, il suffit de nous demander un devis.
        </p>

        <p>
            Les délais de stockage relativement longs, jusqu’à 30 jours, vous permettent de partir tranquillement en vacances ou tout simplement, si vous êtes domiciliés en Suisse, de regrouper plusieurs colis avant de venir les réceptionner et ainsi d’éviter des frais de port exorbitants.
        </p>

        <p>
            Au mois de septembre 2017, nous étions à l’étape du POC (proof of concept), qui permet de démontrer la validité concrète d’un projet.
            Vous étiez déjà très nombreux à avoir demandé les CGVU de notre RCI Colis.
        </p>

        <p>
            Aujourd’hui, nous mettons en ligne un site, qui va vous permettre de nous contacter plus facilement et de vous inscrire directement.
        </p>
        
        <p>
            
        </p>
    </main>
{% endblock %}