{% extends 'base_front.html.twig' %}

{% block title %}Passer une commande{% endblock %} 

{% block navbar %}
    {% include "navbar/nav_black.html.twig" %} 
{% endblock navbar %} 

{% block body %}
    <h1>Passer une commande Internet via RCI Colis</h1>
    <p>Après avoir lu et accepté nos conditions d’utilisation, choisi une formule d’abonnement chez RCI Colis, puis adhérer à nos services…</p>
    <ul>
        <li>Comment faire livrer mon colis chez un prestataire RCI ?</li>
    </ul>
    <p>Tout d’abord, il vous faut choisir, chez quel prestataire vous souhaitez être livré. Sur votre formulaire de commande,
            par ex si vous choisissez Hyper U :</p>

    <p>Nom : RCI Colis « Maison Passion »</p>
    <p>Prénom : Votre propre nom et prénom</p>
    <p>Adresse : 1 rue de Besançon (HyperU)</p>
    <p>Code postal : 25300 Doubs</p>
    <p>Coordonnées de contact : Il s’agit du téléphone du Relais choisi, pour que le transporteur puisse le joindre, ex pour Hyper U : 0381467247</p>
{% endblock body %}