{% extends 'base_front.html.twig' %}

{% block title %}Passer une commande{% endblock %} 

{% block navbar %}
    {% include "navbar/nav_black.html.twig" %} 
{% endblock navbar %} 

{% block body %}
    <main id="histo">
        <section>
            <article>
                <h1>Passer une commande via relais colis</h1>
                <p>Avec nos résaux Franco-Suisse, nous vous proposons une solution simple pour retirer vos colis.</p>
                <p>Supermarchés, boutiques, nos relais colis sont des commerçant de proximité. Vous êtes assuré de pouvoir retiré vos commandes en toute sécurité tout en préservant vos économies grace à notre solution.</p>
            </article>

            <article>
                <i class="fas fa-3x fa-shopping-cart"></i>
                <h3>Passage de votre commande sur une platteforme</h3>
                <p>Pour recevoir votre commande dans un relai colis ils vous suffit tout simplement de vous inscrire et de choisir le relais et la formules d'abonement de votre choix.</p>
                <p>une fois cela fait, lors de votre commande sur un site marchand il vous suffit de donner les informations de livraison du relais colis (adresse, ville etc..) avec votre nom, prenom, téléphone.</p>
            </article>
        </section>
    </main>
{% endblock body %}