{% extends 'base_front.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block navbar %}
    {% include "navbar/nav_black.html.twig" %}
{% endblock navbar %}

{% block body %}
    <main id="histo">
        <section class="container">
        <h2>Politique de confidentialité.</h2>
        <p>
            <strong>Introduction</strong>
            <br />
            Devant le développement des nouveaux outils de communication, il est nécessaire de porter une attention particulière à la protection de la vie privée. 
            C'est pourquoi, nous nous engageons à respecter la confidentialité des renseignements personnels que nous collectons.
        </p>
        <hr/>

        <h2>Collecte des renseignements personnels</h2>
        <p>
            Nous collectons les renseignements suivants : 
        </p>

        <ul>
			<li>Nom</li>
			<li>Prénom</li>
			<li>Adresse postale</li>
			<li>Code postal</li>
			<li>Adresse électronique</li>
			<li>Numéro de téléphone / télécopieur</li>
	    </ul>

        <p>
            Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et grâce à 
            l'interactivité établie entre vous et notre site Web.
            Nous utilisons également, comme indiqué dans la section suivante, des fichiers témoins et/ou journaux 
            pour réunir des informations vous concernant.
        </p>
        <hr/>

        <h2>Formulaires et interactivité</h2>
        <p>
            Vos renseignements personnels sont collectés par le biais de formulaire, à savoir :
        </p>

	    <ul>
			<li>Formulaire d'inscription au site Web</li>
        </ul>
        
        <p>
	        Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :
        </p>

        <ul>
            <li>Sondage</li>
            <li>Support de communication</li>
        </ul>
        </section>
    </main>
{% endblock body %}