{% extends 'base_front.html.twig' %}

{% block title %}
    CGUV R.C.I Colis
{% endblock %}

{% block navbar %}
    {% include "navbar/nav_black.html.twig" %}
{% endblock navbar %}

{% block body %}
    <main id="histo">
        <h2>Crédits</h2>
        <section>
            <h1>Equipe dédiée au développement du site.</h1>
            <h3>Chef de projet</h3>
            <p>Pauline</p>
            <h3>Développeurs front</h3>
            <p>Nessim</p>
            <p>Jason</p>
            <h3>Développeur back</h3>
            <p>Antony</p>
        </section>
    </main>
{% endblock body %}
