{% extends 'base_front.html.twig' %}

{% block title %}CGUV R.C.I Colis
{% endblock %}

{% block navbar %}
    {% include "navbar/nav_black.html.twig" %}
{% endblock navbar %}

{% block body %}
    <main id="histo">
        <h2>Crédits</h2>
        <section>
            <h1>Equipe du dévellopement du site!</h1>
            <h3>Chef de l'équipe</h3>
            <p>Pauline</p>
            <h3>Dévellopeur Front</h3>
            <p>Nessim</p>
            <p>Jason</p>
            <h3>Dévellopeur Back</h3>
            <p>Anthony</p>
        </section>
    </main>
{% endblock body %}
