{% extends 'base_front.html.twig' %}

{% block title %}CGUV R.C.I Colis{% endblock %}

{% block navbar %}
    {% include "navbar/nav_black.html.twig" %}
{% endblock navbar %}

{% block body %}
    <main id="histo">
        <h1>Crédits</h1>
        <section>
            
        </section>
    </main>
{% endblock body %}