{% extends 'base_front.html.twig' %} {% block title %}FAQ{% endblock %} {% block navbar %} {% include "navbar/nav_black.html.twig" %} {% endblock navbar %} {% block body %}
<section id="histo" class="accordion-section clearfix mt-3" aria-label="Question Accordions">
    <div class="container">

        <h2 class="text-center">FAQ </h2>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
						Que veut dire RCI : Relais Colis Indépendant ? : 
			  			</a>
                    </h3>
                </div>
                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                    <div class="panel-body px-3 mb-4">
                        <p>Cela signifie que nous sommes totalement indépendants, nous n’avons d’engagements avec aucun transporteur, donc nous acceptons de réceptionner les colis livrés par tous transporteurs. .</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
				Pourquoi choisir RCI Colis alors qu’il existe déjà de nombreux relais colis, dit « gratuits » ? :
			</a>
                    </h3>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body px-3 mb-4">
                        <p>Tout d’abord, les relais colis existants ne sont pas totalement gratuits, ils sont tous le prestataire d’un transporteur, qui gagne de l’argent grâce au flux de livraisons générées.</p>
                        <p>De plus, ces relais ne peuvent pas être utilisés librement par les particuliers s’ils ne sont pas proposés sur le site marchand où l’on désir commander ou si l’on souhaite faire livré un colis par un transporteur concurrent.</p>
                        <p>Il faut savoir que plus de 70% des sites Internet ne proposent pas de solutions.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
				Puis-je me faire livrer un colis en provenance de l’international ? :			  </a>
                    </h3>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                    <div class="panel-body px-3 mb-4">
                        <p>Oui, bien entendu, à conditions, d’avoir réglés les éventuels droits de douanes, auprès du fournisseur qui se charge des formalités. Il est possible également de déposer un acompte auprès de RCI pour couvrir les éventuels frais.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading4">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
							Puis-je récupérer la TVA appliquée en France ?</a>
                    </h3>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                    <div class="panel-body px-3 mb-4">
                        <p>Ceci n’est pas de notre ressort, c’est auprès du site marchand qu’il faut vous tourner pour avoir la réponse. Nous ne sommes qu’un lieu de réception.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading5">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
							Puis-je faire livrer un colis dépassant les côtes préconisées ?			  </a>
                    </h3>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                    <div class="panel-body px-3 mb-4">
                        <p>Oui, mais pour cela, il faut prendre contact sur le site via le formulaire contact, ou par téléphone pour obtenir notre accord et un devis.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading6">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
							Mes amis peuvent-ils commander et faire livrer à mon nom ?			  </a>
                    </h3>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                    <div class="panel-body px-3 mb-4">
                        <p>Oui, mais cela implique qu’ils commandent aussi à votre nom sur les sites marchands et en cas de complications, ils perdent leurs garanties, il est préférable, étant donné que l’inscription est gratuite, qu’ils ouvrent un compte
                            RCI à leur propre nom.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading7">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
							Après réception de mes colis et au passage en douane, aurais-je quelque chose à payer ? </a>
                    </h3>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                    <div class="panel-body px-3 mb-4">
                        <p><a href="https://www.ezv.admin.ch/ezv/fr/home/infos-pour-particuliers/voyages-et-achats--franchises-quantitatives-et-franchise-valeur/importation-en-suisse.html">Voir le lien</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading8">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse8">
							Que signifie la garantie « satisfait ou remboursé » ?</a>
                    </h3>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                    <div class="panel-body px-3 mb-4">
                        <p>Si suite à une erreur de notre part, donc après avoir réceptionné votre colis dans notre relais (Organisation : colis mal rangé ou mal noté), que nous vous obligeons à revenir plusieurs fois pour votre colis, nous vous offrirons
                            la prestation pour ce colis. </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading9">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true" aria-controls="collapse9">
							Que se passe-t-il si mon colis est abîmé ?</a>
                    </h3>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                    <div class="panel-body px-3 mb-4">
                        <p>Pour tout colis abîmé, au moment de la réception, nous mettons une réserve sur le PDA du livreur, mais nous ne prenons pas la responsabilité de refuser le colis, sauf s’il est visible que le contenu est cassé. </p>
                        <p>Dans ce cas nous vous informons par mail du problème.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading10">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="true" aria-controls="collapse10">
							Exemple : calcul coût d’une prestation </a>
                    </h3>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                    <div class="panel-body px-3 mb-4">
                        <ul>
                            <li>Pour un colis qui pèse 22 kg et dont les dimensions sont standard (L + L + H = maxi 150 cm) :
                                <p>prendre le prix pour un colis standard, soit 6.00€, le multiplier par 22 et le diviser par 15. = 6 x 22 : 15 = 8.80€</p>
                            </li>
                            </br>
                            <li>Pour un colis qui pèse 15 kg, mais dont les dimensions additionnées sont 210 cm.
                                <p>Prendre le prix pour un colis standard, soit 6.00€, le multiplier par 210 et le diviser par 150. = 6 x 210 : 150 = 8.40€</p>
                            </li>
                            </br>
                            <li>Pour un colis qui dépasse le poids et les dimensions standard, ex : 18 kg et 180 cm :
                                <p>Calculer déjà le dépassement en poids, soit 6 x 18 : 15 = 7.20€, puis multiplier le résultat par 180 cm et diviser par 150 cm : 7.20 x 180:150 = 8.64€ soit (8.70€)</p>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
{% endblock body %}