{% extends 'base_front.html.twig' %} {% block title %}R.C.I Colis{% endblock %} {% block navbar %} {% include "navbar/nav_black.html.twig" %} {% endblock navbar %} {% block body %}





<!-- Default form contact -->
<section class="col-6  ml-auto mr-auto" id="histo">
    <form class="text-center border border-light p-5" action="#!">
        <h3 class="card-header blue-gradient white-text text-center py-4 mb-4"><strong>Formule sur devis</strong></h3>
        <p>Pour toutes demandes hors normes de livraisons de colis ou demande exceptionnelle,</br>
            veuillez nous détailler votre projet à l’aide du formulaire ci-dessous, afin d’obtenir un devis personnalisé.</p>


        <!-- Name -->
        <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Nom*" required>

        <!-- Prenom -->
        <input type="text" id="defaultContactFormPrenom" class="form-control mb-4" placeholder="Prénom*" required>

        <!-- Adresse -->
        <input type="text" id="defaultContactFormAdresse" class="form-control mb-4" placeholder="N° et Rue*" required>

        <!-- CP -->
        <input type="number" minlength="5" maxlength="10" id="defaultContactFormCP" class="form-control mb-4" placeholder="Code Postal*" required>

        <!-- Ville -->
        <input type="text" id="defaultContactFormVille" class="form-control mb-4" placeholder="Ville*" required>

        <!-- Telephone -->
        <input type="tel" minlength="10" maxlength="10" id="defaultContactFormTelephone" class="form-control mb-4" placeholder="N° de Téléphone*" required>

        <!-- Email -->
        <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail*" required>

        <!-- Subject -->
        <label></label>
        <select class="browser-default custom-select mb-4" required>
                    <option value="" selected disabled>Choisissez la raison de votre demande*</option>
                    <option value="1" >Livraisons de colis</option>
                    <option value="2">Demande exceptionnelle</option>
                    
                </select>

        <!-- Message -->
        <div class="form-group">
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Votre Projet*" required></textarea>
        </div>

        <!-- Copy -->
        <div class="custom-control custom-checkbox mb-4">
            <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
            <label class="custom-control-label" for="defaultContactFormCopy">Envoyez une copie de votre projet</label>
        </div>

        <!-- Donnee Personnel -->
        <div class="custom-control custom-checkbox mb-4">
            <input type="checkbox" class="custom-control-input" id="defaultDonneePersonnel">
            <label class="custom-control-label" for="defaultDonneePersonnel" required>En cochant cette case et en soumettant ce formulaire, j'accepte que mes données personnelles soient utilisées par RCI Colis pour me recontacter. Aucun autre traitement ne sera effectué avec mes informations</label>
        </div>

        <!-- Send button -->
        <button class="btn blue-gradient" type="submit">Envoyez</button>


    </form>

    <!-- Default form contact -->
</section>



{% endblock body %}