{% extends 'base_front.html.twig' %} {% block title %}Nos Tarifs{% endblock %} {% block navbar %} {% include "navbar/nav_black.html.twig" %} {% endblock navbar %} {% block body %}

<!--Table-->
<section class="container" id="histo">
    <h2 class="text-center mb-5">Formule à l'unité</h2>

    <h4 class="mb-4"> Contrat simple, de réception de courrier ou colis à l’unité</h4>
    <p> En premier lieu, il s’agit d’une adhésion aux services de réception de colis ou courriers, avec garde et maintien à disposition durant 30 jours à compter de la réception. A l’exception des colis dépassant les côtes maximums (- de 30%) qui eux ne pourront
        être gardés que 15 jours.
    </p>
    <p> Toutefois, pour la livraison de colis plus volumineux, il est nécessaire de prendre contact impérativement avant la commande et après acceptation du devis, venir réceptionner le colis le jour de la livraison. Ensuite, un mail vous sera envoyé pour
        la réception de chaque colis.
    </p>
    <p> Enfin vous aurez la possibilité d’être informé par sms moyennant le coût d’un sms + service facturé 3.00€ Pour tout colis abîmé, au moment de la réception, nous mettons une réserve sur le PDA du livreur, mais nous ne prenons pas la responsabilité
        de refuser le colis, sauf s’il est visible que le contenu est cassé. Dans ce cas nous vous informons par mail du problème.
    </p>


    <h4 class="mb-4 mt-5">Tarifs</h4>
    <ul class="list-group mb-4">
        <li class="list-group-item">Enveloppe fine de moins de 20 g et moins de 0,5 cm d’épaisseur : <strong>2,00 € TTC.</strong></li>
        <li class="list-group-item">Enveloppe de 20 g à moins de 100 g ou + de 0,50 cm d’épaisseur : <strong>3,00 € TTC.</strong> </li>
        <li class="list-group-item">Colis de 100 g à 300 g : <strong>4.00 € TTC.</strong></li>
        <li class="list-group-item">Colis + de 300g et – de 10 kg dont les dimensions additionnées ne dépassent pas 150 cm : <strong>5,00 € TTC.</strong></br>
            <strong>*Attention, un des côté doit impérativement être inférieur à 50 cm² *</strong>
        </li>
        <li class="list-group-item">Colis de 10 kg à 15 kg dont les dimensions additionnées ne dépassent pas 150 cm : <strong>6,00€ TTC.</strong></br>
            <strong>* Attention, un des côté doit impérativement être inférieur à 50 cm² *</strong>
        </li>
        <li class="list-group-item">Tout envoi dans emballage autre que enveloppe est considéré comme un colis. Ainsi que tout article emballé dans une enveloppe, dont le poids est supérieur à 100 g : <strong>4.00€ à 5.00€ TTC.</strong></li>
    </ul>
    <p> Pour tout colis supérieur à 30 kg , il est nécessaire de nous informer avant de passer commande, afin que l’on vérifie si le relais choisi est en mesure d’accepter les colis volumineux.</br>
        </br>
        Enfin, la commission sera majorée au prorata des dépassements pour tout autre colis. Voir dans « FAQ » </br>
        Il n’y a pas d’avance à faire, les prestations se règlent à la réception des colis. </br>
        Ce sont ces tarifs qui sont applicables le jour de la commande ou de la reconduction de contrat.</br>
        </br>
        <strong>Aucun colis ne sera délivré sans paiement de la prestation.</strong>
    </p>



</section>





{% endblock body %}