{% extends 'base_front.html.twig' %} {% block title %}R.C.I Colis{% endblock %} {% block navbar %} {% include "navbar/nav_transparent.html.twig" %} {% endblock navbar %} {% block body %}

<div class="view" style="background-image: url('images/livraison.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
        <div class="text-center white-text mx-5 wow fadeIn">
            <h1 class="mb-4">
                <strong>R.C.I Colis </br>
                    Relais Colis Indépendant Franco-Suisse</strong>
            </h1>
            <a href="#particulier"><button type="button" class="btn btn-outline-special-color waves-effect text-white">Particulier</button></a>
            <a href="#professionel"><button type="button" class="btn btn-outline-special-color waves-effect text-white">Professionnel</button></a>
        </div>
    </div>
</div>

<main class="wow fadeIn animated">

    <div class="container">

        <section id="particulier" class="wow fadeIn animated">
            <h2 class="my-5 h3 text-center text-uppercase">Services aux particuliers</h2>
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-3 col-md-12">
                    <!--Panel-->
                    <a href="#" class="custom-card">
                        <div class="card blue-gradient text-center z-depth-2" style="width: 15rem; display: inline-block">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase font-weight-bold white-text mt-2 mb-3"><strong>S'inscrire</strong><i class="fas fa-user ml-3"></i></h5>
                                <p class="card-text-center white-text mb-0">Rejoignez-nous vite !</p>
                                <p class="card-text-center white-text mb-0">Cliquez</p>
                            </div>
                        </div>
                    </a>
                    <!--/.Panel-->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-3 col-md-6">
                    <!--Panel-->
                    <a href="#" class="custom-card">
                        <div class="card purple-gradient text-center z-depth-2" style="width: 15rem; display: inline-block">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase font-weight-bold white-text mt-2 mb-3"><strong class=" text-uppercase">Abonnement</strong><i class="fas fa-heart ml-3"></i></h5>
                                <p class="card-text-center white-text mb-0">Nous vous proposons plusieurs services d'abonnement</p>
                                <p class="card-text-center white-text mb-0">Cliquez ici pour les découvrir</p>
                            </div>
                        </div>
                    </a>
                    <!--/.Panel-->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-3 col-md-6">
                    <!-- Panel -->
                    <a href="#" class="custom-card">
                        <div class="card blue-gradient text-center z-depth-2" style="width: 15rem; display: inline-block">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase font-weight-bold white-text mt-2 mb-3"><strong class="text-uppercase">Trouver un relais</strong><i class="fas fa-map ml-3"></i></h5>
                                <p class="card-text-center white-text mb-0">N'attendez plus, trouvez le relais colis le plus près de chez vous.</p>
                                <p class="card-text-center white-text mb-0">Cliquez ici pour voir la carte</p>
                            </div>
                        </div>
                    </a>
                    <!--/.Panel-->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-3 col-md-6">
                    <!-- Panel -->
                    <a href="#" class="custom-card">
                        <div class="card purple-gradient text-center z-depth-2" style="width: 15rem; display: inline-block">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase font-weight-bold white-text mt-2 mb-3"><strong class="text-uppercase">Se faire livrer</strong><i class="fas fa-cube ml-3"></i></h5>
                                <p class="card-text-center white-text mb-0">Vous voulez passer une commande et vous faire livrer dans un relais colis ?</p>
                                <p class="card-text-center white-text mb-0">Cliquez ici</p>
                            </div>
                        </div>
                    </a>
                    <!--/.Panel-->
                </div>
                <!-- Grid column -->

            </div>
        </section>

        <hr class="my-5">

        <section id="professionnel" class="wow fadeIn animated">
            <h2 class="my-5 h3 text-center text-uppercase">Service aux professionnels</h2>
            <p class="text-center">Vous êtes un professionel et vous voulez profitez de nos offres de livraisons de colis</p>
            <p class="text-center">N'attendez plus pour bénéficier de tarifs adapté a vos besoins</p>
            <p class="text-center"><a href=""><button type="button" class="btn btn blue-gradient">Cliquez-ici</button></a></p>
        </section>

        <hr class="my-5">

        <section id="a-propos" class="wow fadeIn animated">
            <h2 class="my-5 h3 text-center text-uppercase">A propos de nous</h2>
            <div class="row">
                <div class="col-3 text-center">
                    <i class="fas fa-user-friends fa-3x"></i>
                    <div class="num">700</div>
                    <p>Clients</p>
                </div>
                <div class="col-3 text-center">
                    <i class="fas fa-box-open fa-3x"></i>
                    <div class="num">1800</div>
                    <p>Colis réceptionnés</p>
                </div>
                <div class="col-3 text-center">
                    <i class="fas fa-cubes fa-3x"></i>
                    <div class="num">4</div>
                    <p>Relais Colis Indépendants opérationnels</p>
                </div>
                <div class="col-3 text-center">
                    <i class="fas fa-calendar-alt fa-3x"></i>
                    <div class="num">18</div>
                    <p>Mois d'existence</p>
                </div>
            </div>
        </section>

        <hr class="my-5">

        <section id="lemot" class="wow fadeIn animated">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col-1 mr-3">
                            <i class="fas fa-quote-left pr-2"></i>
                        </div>
                    </div>
                    <div class="col-10">
                        <h4 class="feature-title">Le mot de la fondatrice</h4>
                        <p class="grey-text">
                            <div class="10">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, voluptatum cumque id minima optio assumenda eveniet provident illum ullam neque veritatis? Nihil veritatis animi qui, quam esse odio porro explicabo.</div>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-1 mr-5">
                            <i class="fas fa-quote-right pr-2"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="300" height="150" src="https://www.youtube.com/embed/a0FYqmPEm4E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>

    </div>


</main>

{% endblock body %}