{% extends 'base_front.html.twig' %}

{% block title %}R.C.I Colis{% endblock %}

{% block body %}
     <!-- Full Page Intro -->
  <div class="view" style="background-image: url('images/livraison.jpg'); background-repeat: no-repeat; background-size: cover;">

    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

      <!-- Content -->
      <div class="text-center white-text mx-5 wow fadeIn">
        <h1 class="mb-4">
          <strong>R.C.I Colis </br>
            Relais Colis Indépendant Franco-Suisse</strong>
        </h1>
        <button type="button" class="btn btn-outline-special-color waves-effect">Particulier</button>
        <button type="button" class="btn btn-outline-special-color waves-effect">Professionel</button>

       
      </div>
  </div>
  </div>
    <main class="container mt-5 pt-5">
            
    </main>
{% endblock %}
