{% extends 'base_front.html.twig' %}

{% block title %}R.C.I Colis{% endblock %} 

{% block navbar %} 
    {% include "navbar/nav_transparent.html.twig" %} 
{% endblock navbar %} 

{% block body %}
<!-- Full Page Intro -->
<div class="view" style="background-image: url('images/livraison.jpg'); background-repeat: no-repeat; background-size: cover;">

    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

        <!-- Content -->
        <div class="text-center white-text mx-5 wow fadeIn">
            <h1 class="mb-4">
                <strong>R.C.I Colis </br>
          Relais Colis Indépendant Franco-Suisse</strong>
            </h1>
            <a href="#particulier"><button type="button" class="btn btn-outline-special-color waves-effect text-white">Particulier</button></a>
            <a href="#professionel"><button type="button" class="btn btn-outline-special-color waves-effect text-white">Professionel</button></a>
        </div>
    </div>
</div>
<main class="container">
    <div class="container">

        <!-- ------------------------------SERVICES PARTICULIER------------------- -->
        <section>

            <h2 class="my-5 h3 text-center text-uppercase" id="particulier">Services aux particuliers</h2>


            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-3 col-md-12">

                    <!--Panel-->
                    <a href="" class="custom-card">
                        <div class="card blue-gradient text-center z-depth-2" style="width: 15rem; display: inline-block">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase font-weight-bold white-text mt-2 mb-3"><strong>S'inscrire</strong><i class="fas fa-user ml-3"></i></h5>
                                </br>
                                <p class="card-text-center white-text mb-0">Rejoignez-nous vite !</p>
                                </br>
                                </br>
                                <p class="card-text-center white-text mb-0">Cliquez</p>
                                </br>
                                </br>
                            </div>
                        </div>
                    </a>
                    <!--/.Panel-->

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-3 col-md-6">

                    <!--Card Primary-->
                    <a href="" class="custom-card">
                        <div class="card purple-gradient text-center z-depth-2" style="width: 15rem; display: inline-block">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase font-weight-bold white-text mt-2 mb-3"><strong class=" text-uppercase">Abonnement</strong><i class="fas fa-heart ml-3"></i></h5>
                                <p class="card-text-center white-text mb-0">Nous vous proposons plusieurs services d'abonnement</p>
                                </br>
                                <p class="card-text-center white-text mb-0">Cliquez pour les découvrir</p>
                            </div>
                        </div>
                    </a>
                    <!--/.Card Primary-->

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-3 col-md-6">

                    <a href="" class="custom-card">
                        <div class="card blue-gradient text-center z-depth-2" style="width: 15rem; display: inline-block">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase font-weight-bold white-text mt-2 mb-3"><strong class="text-uppercase">Trouver R.C.I</strong><i class="fas fa-map ml-3"></i></h5>
                                <p class="card-text-center white-text mb-0">N'attendez plus trouver votre relais colis près de chez vous.</p>

                            </div>
                        </div>
                    </a>
                    <!--/.Panel-->

                </div>
                <!-- Grid column -->
                <div class="col-lg-3 col-md-6">

                    <a href="" class="custom-card">
                        <div class="card purple-gradient text-center z-depth-2" style="width: 15rem; display: inline-block">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase font-weight-bold white-text mt-2 mb-3"><strong class="text-uppercase">Se faire livrer</strong><i class="fas fa-cube ml-3"></i></h5>
                                <p class="card-text-center white-text mb-0">Vous voulez passer une commande et vous faire livré dans un relais.</p>
                                <p class="card-text-center white-text mb-0">Cliquez pour voir la suite.</p>
                            </div>
                        </div>
                    </a>
                    <!--/.Panel-->
                </div>



            </div>

        </section>

        <!-----------------------------------Section SERVICES PROFESSIONEL---------------------------------->
        <section id="professionel" style="background-color: #f5f8fa">
            <hr class="mb-1">
            <h2 class="my-5 h3 text-center text-uppercase">Service aux professionnels</h2>
                <p class="text-center">Vous êtes un professionel et vous voulez profitez de nos offres de livraisons de colis</p>
                </br>
                <p class="text-center">N'attendez plus pour bénéficier de tarifs adapté a vos besoins</p>
                </br>
                <p class="text-center"><a href="">Cliquez-ici</a></p>
                </br>
            </div>
        </section>

        <hr class="my-5">

        <section>
            <h3 class="h3 mb-5 text-center text-uppercase">A propos de nous</h3>
            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--First row-->
                <div class="row">
                    <div class="col-1 mr-3">
                        <i class="fas fa-truck fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Réception de colis ou courrier</h5>
                        <p class="grey-text">
                            <div class="10">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, voluptatum cumque id minima optio assumenda eveniet provident illum ullam neque veritatis? Nihil veritatis animi qui, quam esse odio porro explicabo.</div>
                        </p>
                    </div>
                </div>
                <!--/First row-->

                <div style="height:30px"></div>

                <!--Second row-->
                <div class="row">
                    <div class="col-1 mr-3">
                        <i class="fas fa-truck fa-2x purple-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Réception de colis ou courrier</h5>
                        <p class="grey-text">
                            <div class="10">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, voluptatum cumque id minima optio assumenda eveniet provident illum ullam neque veritatis? Nihil veritatis animi qui, quam esse odio porro explicabo.</div>
                        </p>
                    </div>
                </div>
                <!--/Second row-->

                <div style="height:30px"></div>

                <!--Third row-->
                <div class="row">
                    <div class="col-1 mr-3">
                        <i class="fas fa-truck fa-2x cyan-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Réception de colis ou courrier</h5>
                        <p class="grey-text">
                            <div class="10">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, voluptatum cumque id minima optio assumenda eveniet provident illum ullam neque veritatis? Nihil veritatis animi qui, quam esse odio porro explicabo.</div>
                        </p>
                    </div>
                </div>
                <!--/Third row-->

            </div>
            <!--/Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12">

                <p class="h5 text-center mb-4"></p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="300" height="150" src="https://www.youtube.com/embed/a0FYqmPEm4E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <!--/Grid column-->

        </div>
        <!--/Grid row-->

    </section>



    </div>
</main>
{% endblock %}