{% extends 'base_front.html.twig' %}

{% block title %}Mentions légales R.C.I Colis{% endblock %}

{% block navbar %}
    {% include "navbar/nav_black.html.twig" %}
{% endblock navbar %}

{% block body %}
    <main id="histo" class=" vh-100">
        <article class="container border p-3">
            <h1 class="font-weight-bold">Mentions Légales</h1>
            <p>Mentions légales RCI Colis – Relais colis pontarlier jura</p>
            <p>Le site www.rci-colis.com est la propriété de société EURL Cométe</p>
            <p>Immatriculée sous le siret 518 799 424 000 16.</p>
            <p>Adresse – France Directeur de la publication : RCI Colis – Patricia GUILLAUME.</p>
            <p>Conception, réalisation : Patricia GUILLAUME</p>
            <p>Adresse mail de contact : contact@rci-colis.com</p>
            <p>Téléphone : 03-63-80-85-64</p>

            <h2 class="font-weight-bold mt-5">RESPECT LÉGAL – FINALITÉ DES DONNÉES</h2>
            <p>
                Conformément à la Loi Informatique et Libertés du 6 janvier 1978, vous disposez d’un droit d’accès et de rectification aux données personnelles vous concernant. Si vous souhaitez exercer ce droit, il vous suffit, dans les conditions légales définies ci-après, de prendre contact avec RCI Colis. Dans un souci de parfaite confidentialité, RCI Colis s’engage à ne divulguer aucune information qu’elle est amenée à détenir sur ses visiteurs, auprès de qui que ce soit.
            </p>

            <h2 class="font-weight-bold mt-5">DROIT ET PROPRIÉTÉ</h2>
            <p>
                    Les photographies, textes, slogans, dessins, images, logos, séquences animées ou non ainsi que toutes œuvres intégrées dans le site sont la propriété de RCI Colis ou de tiers ayant autorisé RCI Colis à les utiliser. L’utilisation de tout ou partie du site et des documents qui y sont reproduits, notamment par téléchargement, reproduction, transmission ou représentation à d’autres fins que pour l’usage personnel et privé dans un but non commercial est strictement interdit et doit être conforme aux dispositions de l’article L122-5 du Code de la Propriété Intellectuelle.   
            </p>
        </article>
    </main>
{% endblock %}