{% extends 'base_front.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

    {% block navbar %}
        {% include "navbar/nav_black.html.twig" %}
    {% endblock navbar %}

    {% block body %}

     <div>
        {{ form_start(contactForm) }}
        {{ form_widget() }}

            <button type="submit" value="envoyer">Envoyer</button>      
        {{ form_end(contactForm) }}
    </div>

    {% endblock %}

