<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}R.C.I Colis{% endblock %}</title>
        {% block stylesheets %}
            {% include "includes/stylesheets.html.twig" %}
        {% endblock %}
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
            <div class="loader-container">
                <div class="loader"><img src="images/giphy.gif" alt="loader colis"></div>
            </div>
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
              <!-- Brand -->
              <a class="navbar-brand" href="https://mdbootstrap.com/docs/jquery/" target="_blank">
                <div class="logo" href="img/logo.png" ></div>
              </a>
              <!-- Collapse -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <!-- Links -->
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                  
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">QUI SOMMES NOUS ?</a>
                      <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{path('front_historique')}}">Historique</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">NOS SERVICES</a>
                      <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Adhérer à RCI</a>
                        <a class="dropdown-item" href="#">Les points relais RCI</a>
                        <a class="dropdown-item" href="#">Devenir RCI</a>
                        <a class="dropdown-item" href="#">Passer une commande Internet via RCI Colis</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">NOS ABONNEMENTS</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Nos tarifs</a>
                      <a class="dropdown-item" href="#">Formule à l’unité</a>
                      <a class="dropdown-item" href="#">Formule sur devis</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT</a>
                  </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">S'inscrire</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link active">Se connecter</a>
                    </li>
                </ul>
              </div>
        </div>
    </nav>
</header>
{% block body %}{% endblock %}

{% block javascripts %}
{% include "includes/javascripts.html.twig" %}
{% endblock %}
<!-- Footer -->
<footer class="page-footer text-center font-small mt-4 wow bg-dark">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="row w-100 d-flex- justify-content-center">
        <div class="col-md-2 d-flex flex-column">
        <h5 class="text-left">À propos de relais colis</h5>
        <ul class="p-0">
            <li class="text-left list-unstyled"><a href="">Qui Sommes nous?</a></li>
            <li class="text-left list-unstyled"><a href="">Nos Abonnement</a></li>
        </ul>
        </div>
        <div class="col-md-2 d-flex flex-column">
        <h5 class="text-left">Informations légales</h5>
        <ul class="p-0">
            <li class="text-left list-unstyled"><a href="{{path('front_cguv')}}">CGUV</a></li>
            <li class="text-left list-unstyled"><a href="{{path('front_mentions')}}">Mentions Légales</a></li>
            <li class="text-left list-unstyled"><a href="">Politique de confidentialité</a></li>
            <li class="text-left list-unstyled"><a href="">Utilisation des cookies</a></li>
            <li class="text-left list-unstyled"><a href="">Crédits</a></li>
        </ul>
        </div>
        <div class="col-md-2 d-flex flex-column">
        <h5 class="text-left">Besoin d'aide ?</h5>
        <ul class="p-0">
            <li class="text-left list-unstyled"><a href="">Nous contacter</a></li>
            <li class="text-left list-unstyled"><a href="">Consultez notre FAQ</a></li>
        </ul>
        </div>
    </div>

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
    </div>
    <!--/.Copyright-->

  </footer>
<!-- Footer -->
<script src="js/loader.js"></</script>
</body>
</html>