{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <main class="vh-100 d-flex justify-content-center align-items-center flex-column">
        <h1>Erreur 404! <i class="fas fa-exclamation-circle text-danger"></i></h1>
        <h1>Page not found</h1>

        <p>
            La page n'a pas été trouvé ou n'existe pas...
        </p>
        <button class="btn blue-gradient">Cliquez ici pour revenir à la page d'acceuil</button>
    </main>
{% endblock %}